.git
.github
.idea
.vscode
.venv
venv
**/__pycache__
**/*.pyc
**/*.pyo
config.json
config.*.json
!config.example.json
cookie*
gemini-auth*.json
.env
.env.*
*.sqlite3*
*_freq.json
data
tests
cloudflare
gemini-cookie-sync-extension
*.log
